.borda {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    padding: 20px;
    border: 2px solid;
    border-radius: 10px;
}

p {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    margin-bottom: 2vh;
}

#cozinha {
    width: 10vw;
    height: 15vh;
    border-radius: 3%;
    display: block;
}

#quarto {
    width: 10vw;
    height: 15vh;
    border-radius: 3%;
}

#sala {
    width: 10vw;
    height: 15vh;
    border-radius: 3%;
}

#banheiro {
    width: 10vw;
    height: 15vh;
    border-radius: 3%;
}

#escritorio {
    width: 10vw;
    height: 15vh;
    border-radius: 3%;
}

#lavanderia {
    width: 10vw;
    height: 15vh;
    border-radius: 3%;
}

main {
    height: 70vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;

}

#centro {
    height: 70vh;
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 15px;
    column-gap: 15px;
}